{layout name='base'}

<div class="card alert">
    <div class="card-body">
        <form class="form-horizontal" method="post" action="/admin/classify/save" autocomplete="off">
            <input type="text" hidden name="id" value="{$classify['id']|default=''}">

            <div class="form-group">
                <label class="col-sm-1 control-label">分类名称</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control" value="{$classify['name']|default=''}" name="name" placeholder="请输入名称，15个字以内">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">排序</label>
                <div class="col-sm-3">
                    <input type="number" value="{$classify['sort']|default=''}" class="form-control" name="sort">
                </div>
            </div>
            <button class="btn btn-success" type="submit">保存</button>
        </form>
    </div>
</div>

<script>
    $(function () {
        $('form').bootstrapValidator({
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                name: {
                    validators: {
                        notEmpty: {
                            message: '分类名称不能为空'
                        },
                        stringLength: {
                            max: 100,
                            message: '最多设置100个字符'
                        },
                    }
                }
            }
        });
    });
</script>
