{layout name='base'}
<div class="container" style="margin-top: 10px">
    {volist name='post_list' id='post'}
    <div class="card" style="margin-bottom: 5px;position: relative">
        <div class="card-body">
            <h5 class="card-title">{$post.title} <span class="badge badge-success">{$post.classify_name}</span></h5>
            <p class="card-text">{$post.intro}</p>
            <a href="#" class="btn btn-primary">查看详情</a>
            <span style="position: absolute;right: 20px;top: 20px;" class="pull-right">{$post.create_time}</span>
        </div>
    </div>
    {/volist}
    <hr>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            {for start="1" end="$count+1" name='num'}
                <li class="page-item {$current_page==$num?'active':''}"><a class="page-link" href="/{$num}">{$num}</a></li>
            {/for}

            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
