{layout name='base'}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><a href="/">主页</a></li>
            <li class="breadcrumb-item active" aria-current="page">{$post.title}</li>
        </ol>
    </nav>

    <div class="blog-header">
        <h1 class="blog-title">{$post.title} <span class="badge badge-primary">{$post.classify_name}</span></h1>
        <p class="lead blog-description">{$post.intro}</p>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-8 blog-main">
            <div class="blog-post">
                <p class="blog-post-meta">{$post.create_time}</p>
                <!--零时存放markdown数据-->
                <textarea style="width: 300px;display: none">{$post.body}</textarea>
                <div class="body">

                </div>
                <script>
                    let con = new showdown.Converter();
                    $(".body").html(con.makeHtml($("textarea").text()));
                </script>
            </div>

            <nav>
                <ul class="pager">
                    <li><a href="#">上一篇：</a></li>
                    <li><a href="#">下一篇：</a></li>
                </ul>
            </nav>
        </div>

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4>关于{$post.classify_name}</h4>
                <span>{$classify.introduce}</span>
                <p><a target="_blank" href="{$classify.url|default=''}">{$classify.name|default=''}</a></p>
            </div>
            <hr>
            <div class="sidebar-module">
                <h4>Archives</h4>
                <ol class="list-unstyled">
                    <li><a href="#">March 2014</a></li>
                    <li><a href="#">February 2014</a></li>
                    <li><a href="#">January 2014</a></li>
                    <li><a href="#">December 2013</a></li>
                    <li><a href="#">November 2013</a></li>
                    <li><a href="#">October 2013</a></li>
                    <li><a href="#">September 2013</a></li>
                    <li><a href="#">August 2013</a></li>
                    <li><a href="#">July 2013</a></li>
                    <li><a href="#">June 2013</a></li>
                    <li><a href="#">May 2013</a></li>
                    <li><a href="#">April 2013</a></li>
                </ol>
            </div>
            <div class="sidebar-module">
                <h4>Elsewhere</h4>
                <ol class="list-unstyled">
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>