{layout name='base'}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="/">主页</a></li>
            <li class="breadcrumb-item active">{$current_post.title}</li>
        </ol>
    </nav>

    <div class="blog-header">
        <h1 class="blog-title">{$current_post.title} <span class="badge badge-primary">{$classify.name}</span></h1>
        <p style="margin-bottom: 0" class="lead blog-description font-italic">{$current_post.intro}</p>
        <code>{$current_post.create_time}</code>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-8 blog-main">

            <div class="blog-post">
                <!--零时存放markdown数据-->
                <textarea style="width: 300px;display: none">{$current_post.body}</textarea>
                <div class="body">

                </div>
                <script>
                    let con = new showdown.Converter({tables: true});
                    $(".body").html(con.makeHtml($("textarea").text()));

                    $(".body table").addClass('table table-hover');
                </script>
            </div>
            <hr>
            <nav>
                <ul class="pager">
                    {if $first_post!=null}
                    <li>上一篇：<a href="/particulars/{$first_post.id}">{$first_post.title}</a></li>
                    {/if}
                    {if $last_post!=null}
                    <li>下一篇：<a href="/particulars/{$last_post.id}">{$last_post.title}</a></li>
                    {/if}
                </ul>
            </nav>
            <!--评论区-->
            <div class="card">
                <div class="card-header">
                    <textarea class="form-control comment" rows="5" placeholder="请文明发言!"></textarea>
                    <button type="button" class="btn btn-raised btn-primary btn-block submit_comment"
                            style="margin-top: 5px">发表
                    </button>
                </div>
                <div class="card-body">
                    <div class="list-group comment_list">
                        {volist name='comment_list' id='comment'}
                        <div class="list-group-item list-group-item-action  flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{$comment.body}</h5>
                                <small>{$comment.create_time}</small>
                            </div>
                            <small class="badge badge-success">{$comment.nickname}</small>
                        </div>
                        {/volist}
                    </div>
                </div>
            </div>
            <script>
                $(function () {
                    $(".submit_comment").click(function () {
                        /*通过ajax响应数据*/
                        $.ajax({
                            url: '/admin/comment/save',
                            method:'post',
                            data: {
                                body: $(".comment").val(),
                                post_id: "{$current_post.id}"
                            },
                            success(res) {
                                let comment = JSON.parse(res).data;
                                $(".comment_list").append(`
                                   <a href="#" class="list-group-item list-group-item-action  flex-column align-items-start">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">${comment.body}</h5>
                                            <small>${comment.create_time}</small>
                                        </div>
                                        <small class="badge badge-success" class="mb-1">${comment.nickname}</small>
                                    </a>
                                `)
                            }
                        })
                    })
                })
            </script>
        </div>

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4>关于{$classify.name}</h4>
                <span>{$classify.introduce}</span>
                <p><a target="_blank" href="{$classify.url|default=''}">{$classify.name}</a></p>
            </div>
            <hr>
            <!--<div class="sidebar-module">
                <h4>Archives</h4>
                <ol class="list-unstyled">
                    <li><a href="#">March 2014</a></li>
                    <li><a href="#">February 2014</a></li>
                    <li><a href="#">January 2014</a></li>
                    <li><a href="#">December 2013</a></li>
                    <li><a href="#">November 2013</a></li>
                    <li><a href="#">October 2013</a></li>
                    <li><a href="#">September 2013</a></li>
                    <li><a href="#">August 2013</a></li>
                    <li><a href="#">July 2013</a></li>
                    <li><a href="#">June 2013</a></li>
                    <li><a href="#">May 2013</a></li>
                    <li><a href="#">April 2013</a></li>
                </ol>
            </div>
            <div class="sidebar-module">
                <h4>Elsewhere</h4>
                <ol class="list-unstyled">
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                </ol>
            </div>-->
        </div>
    </div>
</div>
<hr>