<!-- jquery vendor -->
<script src="/static/assets/js/lib/jquery.nanoscroller.min.js"></script>
<!-- nano scroller -->
<script src="/static/assets/js/lib/sidebar.js"></script>

<script src="/static/assets/lib/lobipanel/js/lobipanel.js"></script>

<!-- // Datamap -->
<script src="/static/assets/js/scripts.js"></script>
<!-- scripit init-->
<script>
    $(document).ready(function () {
        $('#lobipanel-custom-control').lobiPanel({
            reload: false,
            close: false,
            editTitle: false
        });
    });
</script>
</body>

</html>