<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>追风的牧羊人个人博客</title>
    <!-- ================= Favicon ================== -->
    <!-- Styles -->
    <link href="/static/assets/fontAwesome/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/static/assets/css/lib/themify-icons.css" rel="stylesheet">
    <link href="/static/assets/css/lib/sidebar.css" rel="stylesheet">
    <link href="/static/assets/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/static/assets/css/lib/nixon.css" rel="stylesheet">
    <link href="/static/assets/lib/lobipanel/css/lobipanel.min.css" rel="stylesheet">
    <link href="/static/assets/css/style.css" rel="stylesheet">

    <!-- /# content wrap -->
    <script src="/static/assets/js/lib/jquery.min.js"></script>
    <script src="/static/assets/js/lib/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
    <!--文件上传-->
    <link rel="stylesheet" href="/static/bootstrap/fileinput.min.css">
    <script src="/static/bootstrap/fileinput.min.js"></script>
    <script src="/static/bootstrap/fileinput_locale_zh.js"></script>

    <!--编辑器-->
    <script src="https://cdn.bootcss.com/showdown/1.9.0/showdown.min.js"></script>

    <!--图表-->
    <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts-en.min.js"></script>

    <!--代码高亮-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/agate.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>

<body>