
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<!--编辑器-->
<script src="https://cdn.bootcss.com/showdown/1.9.0/showdown.min.js"></script>

<!--图表-->
<script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts-en.min.js"></script>

<!--代码高亮-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/agate.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
<script src="/static/layui/layui.all.js"></script>

<script>hljs.initHighlightingOnLoad();</script>