{layout name='base'}

<div class="card">
     <a class="btn btn-success" href="/admin/post/create">添加帖子</a>
</div>

<div class="card">
    <div class="card-header">
        <!--导航-->
        <ul class="nav nav-tabs">
            <li class="{$classify_id==-1?'active':''}">
                <a href="/admin/post/classify_id">
                    全部&nbsp;{if $classify_id==-1}<span class="badge badge-danger">{$post_list|count}</span>{/if}
                </a>

            </li>
            {volist name='classify_list' id='classify'}
            <li class="{$classify_id==$classify.id?'active':''}">
                <a href="/admin/post/classify_id/{$classify.id}">
                    {$classify.name}&nbsp;{if $classify_id==$classify.id}<span class="badge badge-danger">{$post_list|count}</span>{/if}
                </a>
            </li>
            {/volist}
        </ul>
    </div>
    <div class="card-content">
        <table class="table table-responsive table-striped table-hover">
            <thead>
            <tr>
                <th>封面</th>
                <th>标题</th>
                <th>简介</th>
                <th>所属分类</th>
                <th>更新时间</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name='post_list' id='post'}
            <tr>
                <td><img width="100" src="{$post.placeholder}" alt=""></td>
                <td>{$post.title}</td>
                <td>{$post.intro}</td>
                <td><span class="badge badge-info">{$post.classify_name}</span></td>
                <td>{$post.update_time}</td>
                <td>{$post.create_time}</td>
                <td>
                    <div class="btn-group-vertical">
                        <a class="btn btn-success" href="/admin/post/create/{$post.id}">修改</a>
                        <a class="btn btn-danger" href="/admin/post/delete/{$post.id}">删除</a>
                    </div>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </div>
</div>