{layout name='base'}

<div class="card alert">
    <div class="card-body">
        <form class="form-horizontal" autocomplete='off' method="post" action="/admin/post/save">
            <input type="text" hidden name="id" value="{$post['id']|default=''}">
            <div class="form-group">
                <label class="col-sm-1 control-label">标题</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control" value="{$post['title']|default=''}" name="title"
                           placeholder="请输入标题，15个字以内">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label">简介</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control" value="{$post['intro']|default=''}" name="intro"
                           placeholder="请输入内容，150个字以内">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label">封面图</label>
                <div class="col-sm-11">
                    <div class="input-group ">
                        <input type="text" class="form-control" name="placeholder" value="{$post.placeholder|default=''}">
                        <span class="input-group-btn">
                            <button id="upload_img" class="btn btn-success" type="button">文件上传</button>
                        </span>
                    </div>
                    <img class="cover" width="200" src="{$post.placeholder|default=''}" alt="">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label">选择分类</label>
                <div class="col-sm-11">
                    <select class="form-control" name="classify_id">
                        {if $currentClassify!=''}
                        <option value="{$currentClassify.id}">{$currentClassify.name}</option>
                        {/if}
                        {volist name='classify_list' id='classify'}
                        {if $classify.name!=$currentClassify.name}
                        <option value="{$classify.id}">{$classify.name}</option>
                        {/if}
                        {/volist}
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label class="col-sm-1 control-label">内容</label>
                    <div class="col-sm-11">
                        <div class="col-sm-6" title="图片上传">
                            <div style="margin-bottom: 5px">
                                <span class="body_img_upload"><i class="ti-export"></i></span>
                            </div>
                            <textarea class="col-md-12" name="body"
                                      placeholder="markdown语法">{$post['body']|default=''}</textarea>
                        </div>
                        <!--解析markdown标签生成的html-->
                        <div class="html col-sm-6"></div>
                    </div>
                </div>
            </div>
            <button class="btn btn-success save" type="submit">保存</button>
        </form>
    </div>
</div>

<style>
    textarea {
        height: 500px;
        overflow: auto;
        padding: 10px;
        font-size: 12px;
        font-family: Consolas, serif;
    }

    .html {
        height: 500px;
        overflow: auto;
        padding-bottom: 50px;
    }

    .icon {
        padding: 5px;
        display: inline;
        width: 50px;
    }

    .icon:hover {
        border: 1px solid #eee;
    }
</style>

<script type="module">
    import obj from "/static/plugin.js";

    $(function () {
        /*首先解析markdown语法*/
        let converter = new showdown.Converter();
        refresh();
        $("textarea").on('input', function () {
            refresh();
        });

        /*封面图上传*/
        obj.upload_img("#upload_img").then(data=>{
            $("input[name='placeholder']").val(data.data.img_url);
            $(".cover").attr("src",data.data.img_url);
        });

        /*body图片上传*/
        obj.upload_img(".body_img_upload").then(data=>{
            $("textarea").val($("textarea").val()+`\n![图片]({$Request.domain}${data.data.img_url})`);
            refresh()
        });

        /*代码刷新*/
        function refresh() {
            $(".html").html(converter.makeHtml($("textarea").val()));
            $(".html pre code").each((index, element) => {
                hljs.highlightBlock(element);
            });
            $(".html").scrollTop($(".html")[0].scrollHeight);

            /*修改图片样式*/
            $(".html img").css({
                "display":"block",
                "width":"100%"
            })
        }

        $('form').bootstrapValidator({
            feedbackIcons: {
                valid: 'ti-check',
                invalid: 'ti-close',
                validating: 'ti-alert'
            },
            fields: {
                title: {
                    validators: {
                        notEmpty: {
                            message: '标题不能为空'
                        },
                        stringLength: {
                            max: 100,
                            message: '最多设置100个字符'
                        },
                    }
                },
                intro: {
                    validators: {
                        notEmpty: {
                            message: '简介不能为空'
                        },
                        stringLength: {
                            max: 150,
                            message: '最多设置150个字符'
                        },
                    }
                },
                placeholder:{
                    validators: {
                        notEmpty: {
                            message: '请上传一张封面图'
                        },
                    }
                },
                classify_id: {
                    validators: {
                        notEmpty: {
                            message: '分类不能为空，请先创建一个分类'
                        }
                    }
                }
            }
        });


    });
</script>
